*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
@font-face {
  font-family: 'Cairo Play';
  src: url('Cairo_Play/static/CairoPlay-SemiBold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Cairo Play', sans-serif;
}
.barra{
  background-color:#033af0;
 color: white;
 height:50px;
 position:fixed;
 width: 200%;
 z-index: 1;
 padding: 5px;
 float: left;
 transition: bottom 0.5s ease; 
}

.barra a{
text-decoration: none;
color:white;
padding:15px;
top: 100px;

 } 
.menu{
  background-color:#033af0;
height: 80vh;
color: rgb(255, 255, 255);
}
.menu h1 {
font-size: 30px;
margin-left: 200px;
padding-top: 200px;
text-align: left;
  }
  
  .menu h2 {
font-size: 80px;
margin-left: 200px;
padding-top: 10px;
text-align: left;
  }
  
.imagen img {
float: right;
margin-right: 200px;
margin-top: 84px;
width: 550px;
height: 550px;
  }

#about{
display: flex;
width: 80%;
margin: 100px auto;
margin-top: 12%; 
}
#about img{
width: 350px;
height:350px;
margin-right: 10%;
}
#about div{
padding: 10px;
text-align: center;
}

#about h2,
#about h3 {
  text-align: left;
  margin: 10px;
  margin-left: 5px;
  padding: 5px;
}

#about div p {
  text-align: center;
  padding: 10px;
}

#yo{
  background-color:#033af0;
  height: 500px;
  margin: 100px auto;
  margin-top: 12%; 
  padding: 58px;
}

#yo h1{
color: white;
margin-left: 20px; 
position: relative;
padding: 15px;
}

#yo p{
color: white; 
padding: 30px;
}

#yo img{
background-color:#033af0;
border-radius: 15px;
width: 200px;
position: relative;
top: -280px;
right: -890px;
margin: 0 auto;
}



.idiomas {
background-image: linear-gradient(rgb(255, 255, 255), rgba(20, 34, 36, 0.5));
background-attachment: fixed;
background-origin: padding-box;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: flex;
color: #ffffff;
justify-content: space-between;
align-items: flex-start;
margin-top: -100px;
}


.idiomas h1 {
color: white;
margin-left: 20px; 
position: relative;
padding: 15px;
}

.iconos0,
.iconos1,
.iconos2 {
  width: 23%;
  text-align: center;
  margin: 0 10%;
  margin-left:30px;
}

.iconos0 img,
.iconos1 img,
.iconos2 img {
  background-color: #f8f9fa;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 30px;
  
}


.iconos0 p, .iconos1 p, .iconos2 p {
font-size: 25px;
margin: 15px 0;
line-height: 1.5rem;
padding: 5px;
}

#habilidades h1 {
  margin-left: 20px; 
  position: relative;
  padding: 15px;
}
.contenedor,
.segundo,
.tercero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor img {
padding: 1.25rem;
}

.icon{
  width: 11.875rem;
  height: 11.25rem;
}
.icon:hover {
  background-color: pink;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

#certificados{
  background-color:#033af0;
  height: 80vh;
  color: rgb(255, 255, 255);
}

#certificados h1 {
  color: white;
  margin-left: 20px; 
  position: relative;
  padding: 15px;
}

.row{
  margin-right: 100px;
}
.box{
  margin-top: 45px;
}

.img-fluid2 {
  border-radius: 15px;
  margin-top: 88px;
  width: 500px;
  height: 400px;
  margin-left: 125px; 
}


#proyectos {
  text-align: center;
  padding: 30px;
}

#proyectos h2{
margin-left: 20px; 
position: relative;
padding: 15px;
}


.division {
  display: inline-block;
  width: 30%; 
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.division:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}


.division img {
  max-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 5px;
}


.titulo-de-proyecto {
  font-size: 1.2rem;
  margin: 10px;
}


.detalles-de-proyecto {
  font-size: 0.9rem;
  margin: 10px;
}

.telegram-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(57, 140, 248);
  color: white;
  padding: 18px;
  border-radius: 50%;
  text-decoration: none;
}

.telegram-button i {
  font-size: 30px;
  color: white;
}


footer {
  background-color:#033af0;
  color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  margin-right: 20px;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.quick-links {
  margin-right: 20px;
}

.quick-links h1 {
  font-size: 20px;
  color: pink;
}

.quick-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.contact-info {
  margin-right: 20px;
}

.contact-info h1 {
  font-size: 20px;
  color: pink;
}

.contact-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.newsletter {
  margin-right: 20px;
}

.newsletter h1 {
  font-size: 20px;
  color: pink;
}

.newsletter p {
  margin-bottom: 10px;
}



.newsletter button {
  border: 2px solid white;
  background-color: pink;
  color: white;
  border-radius: 20px;
  width: 200px;
  height: 45px;
  position: relative;
  top: 25px;
  left: 10px;
  margin: 0 auto;
}

.newsletter button:hover{
  background-color: white;
  color: pink;
  border-color: pink;
}

.pie{
  background-color:#033af0;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#copyright {
  list-style: none;
  padding: 0;
}

#copyright li {
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  align-items: center;
}



  @media screen and (max-width: 720px) {
   
    .menu h1{
     margin: 0;
    font-size: 30px;
    text-align: center;
    margin-right: 4%;
    position: relative; 
    top: -201px;
    }
  
    .menu h2 {
      margin: 0;
      font-size: 55px;
      margin-left: 35px;
      position: relative; 
      top: -200px; 
   }
  
  .imagen {
  
    transform:  translateX(-50%);
    transform: scale(1.2); 
    transform-origin: center;
    zoom: 0.5;
    margin-right: -35%;
    position: relative;
    top: 422px;
  
     }
     
     #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      margin: 100px auto;
      margin-top: 12%;
    }
    
    #about img {
      width: 350px;
      height: 350px;
      position: relative;
      top: -408px;
      right:45px;
      margin-bottom: 10px;
    }
    
    #about div {
      padding: 10px;
      text-align: center;
    }
    
    #about h2,
    #about h3 {
      text-align: left;
      margin: 10px;
      margin-left: 5px;
      padding: 5px;
    }
    
    #about div p {
      text-align: center;
      padding: 10px;
    }
  
      #yo {
         background-color:#033af0;
        height: 500px;
        margin: 100px auto;
        margin-top: 12%;
        padding: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
     }
     
     #yo img {
      background-color:#033af0;
        border-radius: 15px;
        width: 120px; 
        height: 120px;
        top:-250px;
        right:-110px;
        margin-bottom: 10px;
     }
     
     #yo h1{
      color: white;
      margin-right: 80px; 
      position: relative;
      padding: -5px;
     }
     
     #yo p {
      color: white;
      margin-right: 80px; 
      position: relative;
      padding: 5px;
      font-size: 12px;
     }
     
      .idiomas {
        padding: 80px;
      }
    
      .idiomas h1 {
        width: 5%;
        margin-top: -75px;
        margin-left: 3px;
        right: 18%;
      }
    
      .iconos0,
      .iconos1,
      .iconos2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-right: 75px;
        left: -12%;
        transform: translateX(-88%);
        padding: -70px;
      }
    
      .iconos0 p,
      .iconos1 p,
      .iconos2 p {
        display: block;
        font-size: 14px;
        margin-top: 400%;
        transform: translateX(-115%);
        text-align: center;
        padding: -20px;
      }
    
      .icon {
        width: 5.875rem;
        height: 5.25rem;
      }
    
      .img-fluid2 {
        flex-direction: column;
        width: 16.875rem;
        height: 22.25rem;
        margin-left: -100%;
        float: right;
      }
    
      .img-fluid2 {
        width: 23.875rem;
      }
    

      .telegram-button {
        position:fixed;
        bottom: 20px;
        right: 200px; 
        background-color: rgb(57, 140, 248);
        color: white;
        padding: 15px;
        border-radius: 50%;
        text-decoration: none;
      }
      
      .telegram-button i {
        font-size: 30px;
        color: white;
      }
      
      
      .proyectos,
      .division {
        flex-direction: column;
        width: 16.875rem;
        height: 22.25rem;
        margin-right: 10%;
        float: left;
        text-align: center;
        align-items: center;
      }
    
      .proyectos {
        width: 30.875rem;
     }
    }
    